{% extends "base.html.twig" %}

{%  block title %} Administration du site {% endblock %}

{% block body %}
<div class="alert alert-heading alert-info text-center container">
    <h1>Administration du site</h1>
    <p style="font-size: 12px">C'est ici que tu gères la partie "caché" de ton site</p>
    {% for label,messages in app.flashes  %}
        {% for message in messages  %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endfor %}
</div>

<div class="container-fluid mt-5">


    <h3><b><u>Voici les différentes section que tu peux gérer:</u></b></h3>
    <a href="{{path("admin_new")}}"><button class="btn btn-outline-info mt-2">Créer un nouveau compte administrateur</button></a><br>
{#    <a href="{{path("admin_list")}}"><button class="btn btn-info mt-2">Voir/Supprimer un compte admin</button></a><br>#}

    <a href="{{path("images_index")}}"><button class="btn btn-outline-info mt-2">Ajouter/supprimer les images de la gallerie</button></a><br>

    <a href="{{path("aboutme_index")}}"><button class="btn btn-outline-info mt-2">Modifier le texte de ta présentation</button></a><br>

    <a href="{{path("temoignage_list")}}"><button class="btn btn-outline-info mt-2">Supprimer/modifier un témoignage</button></a><br>

    <a href="{{path("homepage")}}"><button class="btn btn-outline-success mt-2">Retour à l'accueil</button></a><br>



</div>
{% endblock %}