{% extends 'base.html.twig' %}

{% block title %}Administration des comptes{% endblock %}

{% block body %}
<div class="alert alert-heading alert-info text-center container">
    {{ dump(app.user) }}
    <h1>Administration des comptes administrateur</h1>
    <p>C'est ici que tu geres le/les compte(s) administrateur qui peuvent supprimer/editer des éléments de ton site</p>
</div>
<div class="container-fluid">
    <table class="table">
        <thead>
        <tr>
            <th class="bg-primary text-center">Email</th>
            <th class="bg-primary text-center">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td class="text-center">{{ admin.email }}</td>
                <td class="text-center">
{#                    <a href="{{ path('admin_edit', {'id': admin.id}) }}"><button class="btn btn-warning mb-1">Editer</button></a><br>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary mb-2" href="{{ path('admin_new') }}">Nouveau compte</a><br>
    <a href="{{ path('admin_index') }}"><button class="btn btn-outline-secondary">Retour à l'administration</button></a>

</div>
{% endblock %}