{% extends 'base.html.twig' %}

{% block title %}Photographe{% endblock %}

{% block body %}

    {{ include("include/header.html.twig") }}

    <div class="container-fluid">

        <div class="hero-section">
            <div class="row">
                <div class="col-12">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img onmouseover="anime()" onmouseout="animerev()" id="anime" class="d-block w-100" src="/images_mariages/Engagement Marlene & Xavier/IMG_8253-1.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img onmouseover="anime2()"  onmouseout="anime2rev()" id="anime2" class="d-block w-100" src="/images_mariages/Engagement Marlene & Xavier/IMG_9517-3.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img onmouseover="anime3()"  onmouseout="anime3rev()" id="anime3" class="d-block w-100" src="/images_mariages/Engagement Marlene & Xavier/IMG_8352-2.jpg" alt="Third slide">
                            </div>
                        </div>
                    </div>
                </div><!-- .swiper-container -->
            </div><!-- .col-md-10 -->
        </div><!-- .row -->
    </div>

<div class="container-fluid" style="margin-top: 50px">

    <h2 class="text-center portfolio-title" style="font-family: 'Playfair Display', sans-serif;margin-top: 50px"> portfolio </h2>
    <hr style="width: 60px; ">


    <div  onmouseover="scroll_anime()">
        <div id="gallery_left"  class="gallery_left">
            <div class="blue">
                <a class="choix_gallery" href="{{ path("homepage") }}"><img  src="/images_mariages/Engagement Marlene & Xavier/IMG_8352-2.jpg" alt=""></a>
            </div>
            <div class="gallery_text_left mt-1">
                <p style="font-style: italic">
                    <i class="fa fa-quote-left"></i> Je tiens à te dire que tu as fait un travail formidable tu as plus remplis et au delà tes fonctions. Tu fais enormement
                    partie de la reussite de notre merveilleux mariage ! Nos invités t’ont énormément appréciés. Enfin bref Peggy une nana
                    au top. Merci beaucoup Peggy &nbsp;<i class="fa fa-quote-right"> </i>
                </p>
                <p style="float: right; font-style: italic">Jessica</p>
            </div>
        </div>
    </div>


    <div onmouseover="scroll_anime_right()">
        <div id="gallery_right"  class="gallery_right">

            <div class="gallery_text_right">
                <p style="font-style: italic">
                    <i class="fa fa-quote-left"></i> peggy à réaliser de magnifiques photos de mon mariage et l'after day
                    Peggy est une personne qui est très à l'écoute , qui rentre dans votre monde sans aucuns problèmes
                    et super pro. À recommander! &nbsp;<i class="fa fa-quote-right"> </i>
                </p>
                <p style="float: right; font-style: italic">Sabrina</p>
            </div>
            <div class="green">
                <a class="choix_gallery" href="{{ path("homepage") }}"><img  src="/images_mariages/Engagement Marlene & Xavier/IMG_8352-2.jpg" alt=""></a>
            </div>
        </div>
    </div>

    <div onmouseover="scroll_anime2()">
        <div id="gallery_left2"  class="gallery_left2">
            <div class="blue">
                <a class="choix_gallery2" href="{{ path("homepage") }}"><img  src="/images_mariages/Engagement Marlene & Xavier/IMG_8352-2.jpg"  alt=""></a>
            </div>
            <div class="gallery_text_left2">
                <p style="font-style: italic">
                    <i class="fa fa-quote-left"></i> Je recommande Peggy ! même au plus timide! Elle sait vous mettre à
                    l'aise devant son Objectif ! En plus, elle est souriante, sympa, rigolote ! Merci pour ce bon
                    moment..  &nbsp;<i class="fa fa-quote-right"> </i>
                </p>
                <p style="float: right; font-style: italic">Sandrine</p>
            </div>
        </div>
    </div>
</div>

    <br><br><br><br><br>

    {{ include("include/footer.html.twig") }}

    </div><!-- .container-fluid -->

    <script>
        function scroll_anime(){
            var gallery = document.getElementById("gallery_left");
            if (!gallery.classList.contains("anime_left")) {
                gallery.classList.toggle("anime_left");
                gallery.classList.toggle("gallery_left");
            }
        }

        function scroll_anime_right(){
            var gallery = document.getElementById("gallery_right");
            if (!gallery.classList.contains("anime_right")) {
                gallery.classList.toggle("anime_right");
                gallery.classList.toggle("gallery_right");
            }
        }

        function scroll_anime2(){
            var gallery = document.getElementById("gallery_left2");
            if (!gallery.classList.contains("anime_left2")) {
                gallery.classList.toggle("anime_left2");
                gallery.classList.toggle("gallery_left2");
            }
        }
    </script>
{% endblock %}
