<div class="container tangerine">
    <div class="col-12 col-lg-4 order-1 order-lg-2">
        <div class="header-social">
            <ul>
                <li><a href="https://www.facebook.com/PeggyBous-Moments-heureux-308109400000912/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/peggybous/"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div><!-- .footer-social -->
    </div><!-- .col-xl-4 -->
    <a href="{{ path('homepage') }}" rel="home" style="outline: none; text-decoration: none; color: black">
        <h1 class="text-center title" >Peggy.Bous</h1>
        <h3 class="text-center happy-title">Moments heureux</h3>
    </a>
    <hr>
    <header class="site-header">
    <div class="row align-items-center">
        <div class="col-4 col-sm-4 col-lg-2 order-lg-1">
            <div>
                <h1 class="site-title"><a href="{{ path('homepage') }}" rel="home"><img class="logo" src="/images_mariages/apn_ancien/logo2.png" alt="Logo"></a></h1>
            </div>
        </div><!-- .col-8 -->
        {% if app.user %}
        <div class="col-8 col-sm-8 col-lg-10 order-3 order-md-3 order-lg-2" style="font-size: 27px">
            <nav class="site-navigation flex navbar-collapse" id="navAbsolute">
                <div class="hamburger-menu d-lg-none order-2">
                     <span>
                        <li  class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path('homepage') }}">Accueil</a></li>
                    </span>
                    <span>
                        <li class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path("temoignage_index") }}">Témoignages</a></li>
                    </span>
{#                                <span>#}
{#                                    <li class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path("aboutme_visitor")}}">About me</a></li>#}
{#                                </span>#}
                    <span>
                        <li  class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path('tarif_render') }}">Tarifs</a></li>
                    </span>
                </div><!-- .hamburger-menu -->

                <ul>

                    <li>
                        <a href="{{ path("admin_index") }}">Administration</a>
                    </li>
                    <li  class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path('homepage') }}">Accueil</a></li>
                    <li  class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path('images_render') }}">Portfolio</a></li>
                    <li class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path("temoignage_index") }}">Témoignages</a></li>
{#                    <li class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path("aboutme_visitor")}}">About me</a></li>#}
                    <li  class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path('tarif_render') }}">Tarifs</a></li>
                    <li class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path("contact") }}">Contact</a></li>


                        <li>
                            <a href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>
                    {% else %}
                    <div class="col-8 col-sm-8 col-lg-10 order-3 order-md-3 order-lg-2" style="font-size: 33px">
                        <nav class="site-navigation flex navbar-collapse" id="navAbsolute">
                            <div class="d-lg-none order-2">
                                <span>
                                    <li  class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path('homepage') }}">Accueil</a></li>
                                </span>
                                <span>
                                    <li class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path("temoignage_index") }}">Témoignages</a></li>
                                </span>
{#                                <span>#}
{#                                    <li class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path("aboutme_visitor")}}">About me</a></li>#}
{#                                </span>#}
                                <span>
                                    <li  class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path('tarif_render') }}">Tarifs</a></li>
                                </span>
                            </div><!-- .hamburger-menu -->

                                <ul >
                                    <li  class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path('homepage') }}">Accueil</a></li>
                                    <li  class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path('images_render') }}">Portfolio</a></li>
                                    <li class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path("temoignage_index") }}">Témoignages</a></li>
{#                                    <li class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path("aboutme_visitor")}}">About me</a></li>#}
                                    <li  class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path('tarif_render') }}">Tarifs</a></li>
                                    <li class="{% if  property is defined and property=="active_home" %}current-menu-item {% endif %}"><a href="{{ path("contact") }}">Contact</a></li>

                                    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                    {% endif %}
                </ul>
            </nav><!-- .site-navigation -->
        </div><!-- .col-2 -->
    </div><!-- .row -->
</header><!-- .site-header -->

    {% for label,messages in app.flashes  %}
        <div class="container">
            <div class="alert alert-{{ label }}">
                {% for message in messages  %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

</div>
