{% extends 'base.html.twig' %}

{% block title %}Images index{% endblock %}

{% block body %}
    <h1>Images index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de l'évènement</th>
                <th>Image</th>
                <th>Commentaires</th>
                <th>Que faire</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.nomEvenement | upper}}</td>
                <td><img {% if image.urlImage == "" %}src="/uploads/image_gallery/{{ image.imageFilename }}" {% else %} src="{{ image.urlImage }}" {% endif %} alt="{{ image.nomEvenement }}" style="width: 175px; height: 100px"></td>
            {% if image.commentaires == "" %}
                <td>Rien à signaler</td>
            {% else %}
                <td>{{ image.commentaires | capitalize }}</td>
            {% endif %}

                <td>
                    <a href="{{ path('images_show', {'id': image.id}) }}"><button class="btn btn-primary mb-1">Voir</button></a><br>
                    <a href="{{ path('images_edit', {'id': image.id}) }}"><button class="btn btn-warning mb-1">Editer</button></a>
                    {{ include('images/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('images_new') }}">Create new</a>
{% endblock %}
