{% extends 'base.html.twig' %}

{% block title %}Administration des images pour la galerie{% endblock %}

{% block body %}
    <div class="alert alert-heading alert-info text-center container">
        <h1>Administration des images pour la galerie</h1>
        <p>C'est ici que tu upload tes photos qui se retrouveront sur la galerie</p>
    </div>
    <div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th class="bg-primary text-center">Nom de l'évènement</th>
                <th class="bg-primary text-center">Image</th>
                <th class="bg-primary text-center">Commentaires</th>
                <th class="bg-primary text-center">Que faire</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td class="text-center">{{ image.nomEvenement | upper}}</td>
                <td class="text-center"><img {% if image.urlImage == "" %}src="/uploads/image_gallery/{{ image.imageFilename }}" {% else %} src="{{ image.urlImage }}" {% endif %} alt="{{ image.nomEvenement }}" style="width: 175px; height: 100px"></td>
            {% if image.commentaires == "" %}
                <td class="text-center">Rien à signaler</td>
            {% else %}
                <td class="text-center">{{ image.commentaires | capitalize }}</td>
            {% endif %}

                <td class="text-center">
                    <a href="{{ path('images_edit', {'id': image.id}) }}"><button class="btn btn-warning mb-1">Editer</button></a><br>
                    {{ include('images/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary mb-2" href="{{ path('images_new') }}">Create new</a><br>
    <a href="{{ path('homepage') }}">Retour à l'accueil</a>

    </div>
{% endblock %}
