{% extends 'base.html.twig' %}

{% block title %}Images{% endblock %}

{% block body %}
    <h1>Images</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>NomEvenement</th>
                <td>{{ image.nomEvenement }}</td>
            </tr>
            <tr>
                <th>UrlImage</th>
                <td><img src="{{ image.urlImage }}" alt="{{ image.nomEvenement }}" style="width: 200px; height: 200px;"></td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>{{ image.commentaires }}</td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-info"><a href="{{ path('images_index') }}" style="outline: none;text-decoration: none">back to list</a></button><br>

    <a href="{{ path('images_edit', {'id': image.id}) }}">edit</a>

    {{ include('images/_delete_form.html.twig') }}
{% endblock %}
