{% extends 'base.html.twig' %}

{% block title %}A propos de moi{% endblock %}

{% block body %}
    <div class="container">
    <h1>Aboutme index</h1>

{#    {% for label,messages in app.flashes  %}#}
{#        <div class=\"container\">#}
{#            <div class=\"alert alert-{{ label }}\">#}
{#            {% for message in messages  %}#}
{#                <p>{{ message }}</p>#}
{#            {% endfor %}#}
{#        </div>#}
{#        </div>#}
{#    {% endfor %}#}

    <table class="table">
        <thead>
            <tr>
                <th>Aperçu image</th>
                <th>Titre</th>
                <th>Présentation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aboutme in aboutmes %}
            <tr>
                <td><img style="width: 175px; height: 100px" src="/uploads/aboutme/{{ aboutme.imageFilename }}" alt=""></td>
                <td>{{ aboutme.title }}</td>
                <td>{{ aboutme.desciption | raw }}</td>
                <td>
                    <a href="{{ path('aboutme_edit', {'id': aboutme.id}) }}"><button class="btn btn-warning mb-1">Editer</button></a><br>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
