{% extends 'base.html.twig' %}

{% block title %}A propos de moi{% endblock %}

{% block body %}
    <h1>Aboutme index</h1>

{#    {% for label,messages in app.flashes  %}#}
{#        <div class=\"container\">#}
{#            <div class=\"alert alert-{{ label }}\">#}
{#            {% for message in messages  %}#}
{#                <p>{{ message }}</p>#}
{#            {% endfor %}#}
{#        </div>#}
{#        </div>#}
{#    {% endfor %}#}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Desciption</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aboutme in aboutmes %}
            <tr>
                <td>{{ aboutme.title }}</td>
                <td>{{ aboutme.desciption }}</td>
                <td>
                    <a href="{{ path('images_edit', {'id': image.id}) }}"><button class="btn btn-warning mb-1">Editer</button></a><br>
                    {{ include('images/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><i>A faire disparaitre le bouton Create new elle n'aura qu'a editer sa presentation une fois faites la premiere fois par moi</i></p>
    <a href="{{ path('aboutme_new') }}">Create new</a>
{% endblock %}
